## *같은 시간(분단위)에 나온 속보 뉴스들을 한개의 entry로 처리, flatten

In [ ]:
# 코랩에서 실행시 pyMySQL을 먼저 설치해야 한다
# !pip install JPype1
# !pip install konlpy
# !pip install pyMySQL
# !pip install -U finance-datareader

In [2]:
# import packages
import os
import numpy as np
import pandas as pd
import FinanceDataReader as fdr
import konlpy
from konlpy.tag import Okt
import pymysql
from os import replace
import requests
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
from datetime import datetime
from sqlalchemy import create_engine
import ast
from os import replace
import pickle
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import TextVectorization
import re
import string
import itertools
import warnings
warnings.filterwarnings('ignore')

In [13]:
# --flattenSokboDBsave()-----------------------------------------
# 분단위로 뉴스 정리 flatten 된것 DB에 저장하기
def flattenSokboDBsave(df_work_result, ddate):
  # 테이블 생성 및 연결
  # 구글클라우드 마리아DB연결 예)'mysql+pymysql://root:mypassword@localhost:1234/testdb'
  # DB 커넥션 생성
  engine = create_engine('mysql+pymysql://아이디:비밀번호@호스트주소:포트번호/DB이름?charset=utf8mb4')
  # 데이터프레임을 DB로 저장, 이미 있으면 덮어쓰기(replace)
  df_work_result.to_sql(name=ddate+'_sokbo_flatten', con=engine,if_exists='replace',index=False)
  # DB close
  engine.dispose()
  # 실행확인을 위한 화면 출력
  #print(ddate)
# --flattenSokboDBsave() :END------------------------------------

# -- oneday_flatten_Sokbo()--------------------------------------
# 분단위로 뉴스 정리 flatten 하기
def oneday_flatten_Sokbo(ddate):
  print('-')
  # DB 연결 준비
  conn = pymysql.connect(host= '호스트주소', port = 포트번호, user="아이디", password="패스워드", db="DB이름", charset = 'utf8')
  # DB에서 뉴스 속보 데이터 추출위한 sql 준비
  sql = f"SELECT x.* FROM {ddate}_sokbo x"
  # DB 검색결과를 dataframe에 저장
  result_df = pd.read_sql_query(sql, conn)
  # DB 연결 close
  conn.close()
  # 실행 확인을 위한 화면출력
  #print(result_df.head(3))

  # 작업할 복사본 만들기
  df_work = result_df.copy()
  # 문자열 형식을 datetime형식으로 변환
  df_work['date_rdate']= pd.to_datetime(df_work['rdate'])
  # 하루치 flatten된 뉴스 속보 저장을 위한 df 생성
  df_work_result = pd.DataFrame()
  # 시작시간: 0시0분
  c_time = pd.to_datetime(ddate+'0000')
  # 종료시간: 23시59분
  e_time = pd.to_datetime(ddate+'2359')

  # 당일 0시0분 부터 23시59분까지 처리
  while c_time <= e_time:
      # 1분씩 증가
      n_time = c_time +pd.Timedelta(minutes=1)
      # 실행 확인용 화면 출력
      #print('-',c_time, n_time)
      # 같은 시간대(분 단위)에 나온 속보 모두 추출
      df_sametime= df_work.loc[(df_work['date_rdate']>=c_time) & (df_work['date_rdate']<n_time),['date_rdate','20000_encoded_text_code']]
      # 뉴스 속보 벡터열 넣을 문자열 변수 생성, 초기화
      f_string=''
      # 같은 시간대 나온 모든 뉴스 속보 벡터를 하나로 합치기 flatten
      if len(df_sametime)>=1:     # 뉴스가 1개 이상 존재하는 경우
          for i in range(len(df_sametime)):   # 뉴스 갯수 만큼 반복
              # 실행 확인용 화면 출력
              #print('--',i)
              # 벡터 숫자만 꺼내기: 양 끝 기호 [ ] 없애고 중간에 있는 \n삭제
              t_str = df_sametime.iloc[i]['20000_encoded_text_code'].strip('[]').replace('\n','')
              # 앞 뉴스 벡터열에 이어서 붙이기, 공백 ' ' 을 사이에 두고
              f_string = f_string +' '+ t_str
              # 혹시 공백 여러개 있으면 하나로 정리해서 넣기
              f_string = re.sub(' +', ' ', f_string)
          # 같은 시간대 뉴스 벡터 모두 합쳤으면 앞 뒤로 [ ] 기호 붙이기
          f_string = '['+f_string+']'
          # 실행 확인용 화면 출력
          #print(f_string)
      else:   # 뉴스가 없는 시간대(분 단위)의 경우
          # 속보 벡터열을 빈 문자열로 처리
          f_string=''
      # 저장을 위한 임시 df 생성, 초기화: 현재 시간, 뉴스 갯수, 벡터 스트링
      temp_df = pd.DataFrame({'rdate':[c_time],'news_cnt':[len(df_sametime)],'2000_encoded_text_code':[f_string]})
      # 하루치 flatten된 뉴스 속보 저장을 위한 결과에 추가
      df_work_result= pd.concat([df_work_result,temp_df], ignore_index=True)
      # 다음 시간(분단위)을 현재 시간으로 설정: 반복 위해서
      c_time=n_time
  # 실행 확인용 화면 출력
  #print(df_work_result.head())
  # flatten 결과를 DB로 저장
  flattenSokboDBsave(df_work_result, ddate)
# -- oneday_flatten_Sokbo():END----------------------------------

# -- flattenSokbo()----------------------------------------------
# 주어진 기간 내의 모든 뉴스를 분단위로 flatten하기
def flattenSokbo(startDate,endDate):
  # 시작날짜 ddate 복사
  ddate = startDate
  # 종료 날짜까지 반복하기
  while pd.to_datetime(ddate).date() <= pd.to_datetime(endDate).date():
    # 해당일 전체 뉴스 가져오기
    oneday_flatten_Sokbo(ddate)
    # 실행 확인을 위한 화면 출력
    print(ddate)
    # 자동 날짜 증가 연산: 1일씩 증가
    dt_date = pd.to_datetime(ddate) + pd.DateOffset(days=1)
    # 다음 날짜 문자열 추출
    ddate= dt_date.strftime("%Y%m%d")
# -- flattenSokbo() :END------------------------------------------

In [ ]:
# =====================================
# 메인 함수 호출: 뉴스 속보 flatten 하기
# 시작날짜, 종료 날짜 파라미터로 지정
flattenSokbo('20240203','20240216')
# =====================================