#* 9개로 클러스터링 된 결과를 DB에 저장하기

In [ ]:
# 코랩에서 실행시 pyMySQL을 먼저 설치해야 한다
# !pip install JPype1
# !pip install konlpy
# !pip install pyMySQL
# !pip install -U finance-datareader

In [ ]:
# import packages
import os
import numpy as np
import pandas as pd
import FinanceDataReader as fdr
import konlpy
from konlpy.tag import Okt
import pymysql
from os import replace
import requests
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm
from datetime import datetime
from sqlalchemy import create_engine
import ast
from os import replace
import pickle
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import TextVectorization
import re
import string
# 리스트 flatten을 위한 itertools 패키지 import
import itertools
import warnings
warnings.filterwarnings('ignore')

1. 클러스터링 결과를 xlsx로 부터 읽어들여서
2. DB에 넣기

In [ ]:
# --def convert_to_six_digit_string()---------------------
# 숫자를 6자리 문자열로 변환하는 함수
def convert_to_six_digit_string(number):
    return '{:06d}'.format(number)
# --def convert_to_six_digit_string() :END----------------

# -- clusterDBsave() -------------------------------------
# 클러스터 분류 결과를 DB에 저장
def clusterDBsave(df_cluster):
  # 테이블 생성 및 연결
  # 구글클라우드 마리아DB연결 예)'mysql+pymysql://root:mypassword@localhost:1234/testdb'
  db_connection_path = 'mysql+pymysql://아이디:패스워드@호스트주소:포트번호/DB이름'
  db_connection = create_engine(db_connection_path)
  # DB 커넥션 생성
  conn = db_connection.connect()
  # 데이터프레임을 DB로 저장, 날짜 ddate를 테이블 명으로, 이미 있으면 덮어쓰기(replace)
  df_cluster.to_sql('cluster_'+str(df_cluster.at[0,'cluster_labels']),conn,if_exists='replace',index=False)
  # DB 커밋
  conn.commit()
  # DB close
  conn.close()
# -- clusterDBsave(): END---------------------------------

In [ ]:
#===================================================
# 클러스터링결과 DB 저장: 메인 실행
#---------------------------------------------------
# 엑셀 파일에서 읽어오기
df_cluster_8 = pd.read_excel('cluster_8.xlsx')

# 숫자를 6자리 문자열로 변환하여 새로운 열에 저장합니다.
df_cluster_8['code'] = df_cluster_8['code'].apply(convert_to_six_digit_string)

# 컬럼 이름 정리
df_cluster_8.columns=['serial_number','code','cluster_labels']

# 변환된 데이터 확인
print(df_cluster_8.head())

# 클러스터링결과 DB 저장
clusterDBsave(df_cluster_8)

---
* 수집한 종목과 클러스터 분류된 종목간 검증하기
- 수집한 종목 아닌 것들은 삭제하기

In [ ]:
# 수집한 종목과 클러스터 종목 비교
# --get_stock_code_list()-----------------------------------------------
# 수집한 종목 코드 리스트 가져오기
def get_stock_code_list():
  # DB 연결 설정
  conn = pymysql.connect(host= '호스트주소', port = 포트번호, user="아이디", password="패스워드", db="DB이름", charset = 'utf8')
  # 테이블명 읽어오기 위한 sql 준비
  sql = f"SELECT table_name FROM information_schema.tables WHERE table_schema = 'DB이름'"
  # DB 검색결과를 dataframe에 저장
  df_table_names = pd.read_sql_query(sql, conn)
  # DB 연결 close
  conn.close()
  # 종목코드에서 첫글자'A' 제거
  result_code=df_table_names[df_table_names['table_name'].str.startswith('A')]['table_name'].str[1:]
  # 종목리스트 반환
  return result_code
# --get_stock_code_list() :END------------------------------------------

# --get_cluster_stock_code()------------------------------------------
# 한 클러스터내 종목들 읽어오기
def get_cluster_stock_code(cluster_number):
  # DB 연결 준비
  conn = pymysql.connect(host= '호스트주소', port = 포트번호, user="아이디", password="패스워드", db="DB이름", charset = 'utf8')
  # 클러스터 지정:  cluster_number
  cnumber = cluster_number
  # 실행확인을 위한 화면 출력
  print(cnumber)
  # DB에서 종목 데이터  추출위한 sql 준비
  sql = f"SELECT x.* FROM cluster_{cnumber} x"
  # DB 검색결과를 dataframe에 저장
  result_df = pd.read_sql_query(sql, conn)
  # DB close
  conn.close()
  # 데이터 리턴
  return result_df
# --get_cluster_stock_code()------------------------------------------

In [ ]:
# 수집한 전 종목의 코드 리스트 만들기
result_code= get_stock_code_list()
# 테이블 조인을 위한 key 컬럼 정리
result_code.name='code'
# 수집한 종목 아닌 것들은 삭제하기
for i in range(9):
    # 클러스터내 종목들 가져오기
    df_cluster = get_cluster_stock_code(i)
    # 수집한 종목과 비교해서 없으면 제외
    result = pd.merge(result_code,df_cluster, on='code')
    # 결과를 저장
    clusterDBsave(result)